<h1>Bonjour! à vous nouveau utilisateur!</h1>

<p>
    Confirmer votre adresse email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirm mon adresse Email</a>.
    Ce lien va expirer dans 1 heure .
</p>

<p>
    Merci!
</p>
